* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: black;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 2;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}


.description {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  padding: 30rem 0;
  padding-top: 30rem;
  text-align: center;
}

.image {
  width: 432px;
  height: auto;
  opacity: 0;
  /* 초기에는 투명도를 0으로 설정 */
  transform: translateY(20px);
  /* 약간 아래에서 시작 */
  transition: opacity 1s ease-out, transform 1s ease-out;
  /* 애니메이션 효과 */
}

@media screen and (max-width: 720px) {
  .image {
    width: 60%;
    height: auto;
  }
}

.footer {
  color: #fff;
  padding-top: 10rem;
  padding-bottom: 3rem;
  text-align: center;
}

h1 {
  text-align: center;
}

h3 {
  margin-top: 2rem;
  margin-bottom: 0rem;
}

h4 {
  margin-top: 1rem;
  margin-bottom: 0rem;
}

p,
li {
  margin: 0;
}

strong {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: underline;
}

@counter-style korean-style {
  system: fixed;
  symbols: 가 나 다 라 마 바 사 아 자 차 카 타 파 하;
  suffix: " ";
}

ol {
  margin: 0;
}

ol.kor-list {
  list-style: none;
  counter-reset: custom-counter;
}

ol.kor-list>li {
  counter-increment: custom-counter;
}

ol.kor-list>li::before {
  content: counter(custom-counter, korean-style) ". ";
}

ol.num-brace-list {
  list-style: none;
  /* Removes default numbering */
  counter-reset: item;
  /* Creates a new instance of the counter */
}

ol.num-brace-list>li {
  counter-increment: item;
  /* Increments the counter for each list item */
}

ol.num-brace-list>li:before {
  content: counter(item) ") ";
  /* Adds the counter value and a parenthesis before the item content */
}
